body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #333;
  color: white;
  padding: 1em 2em;
  text-align: left;
}

.app-body {
  flex: 1;
  padding: 2rem;
  background-color: rgb(69, 69, 69);
  color: white;
}

.body-text {
  padding-bottom: 2em;
}
.body-lower-text {
  padding: 2em 0;
}

footer {
  background-color: #333;
  color: white;
  padding: 1em 2em;
  text-align: left;
}
